*{
  margin:0;
  padding: 0;
}

$color-primary: #f9ed69; 
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$color-text-light: #eee;

//this is like a variable
$width-button:150px;
@mixin clearfix{
  &::after {
    content: "";
    clear: both;
    display: table
  }
}

//can pass argument to a mixon
@mixin style-link-text($color) {
  color: $color;
  text-decoration: none;
  text-transform: uppercase;
}

//sass has functions
@function divide($a, $b){
  @return $a / $b;
}

nav{
  //*1 px to get ths returned value in pixles
  margin: divide(60,2)*1px;
  background-color: $color-primary ;

  @include clearfix()
}



.navigation{
  list-style: none;
  float: left;
  //new way
  li {
    display: inline-block;
    margin-left: 30px;

    //better new way
    &:last-child {
      margin: 0;
    }

    a:link{
      @include style-link-text($color-text-dark)


    }
    // //one way
    // li:last-child {
    //   margin: 0;
    // }
  }


}

.buttons{
  float: right;
}

///use % to create an extend
//only use extend if elements are inheritly and gramatically related
//we use the extend on the two buttons which are the same with different colors
%btn-placeholder{
  //instead of using below 9902 we placed that code in an extend
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  width: $width-button;
  @include style-link-text($color-text-light)
}

//9902
// .btn-main:link,
// .btn-hot:link{
//   padding: 10px;
//   display: inline-block;
//   text-align: center;
//   border-radius: 100px;
//   width: $width-button;
//   @include style-link-text($color-text-light)

// }

.btn-main{
  &:link{
    @extend %btn-placeholder;
    background-color: $color-secondary;
  }

  &:hover {
    background-color: darken($color-secondary, 15%);
  }
}


.btn-hot{
  &:link{
    @extend %btn-placeholder;
    background-color: $color-tertiary;
  }

  &:hover {
    background-color: lighten($color-tertiary, 10%);
  }
}

//old way
// .navigation li {

// }


//oldway
// .navigation li:first-child

//oldway
// .navigation li:a